<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="icon" href="/image/brand_icon.svg">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="bg-white-base">
    <main class="grid grid-cols-12">
        <aside class="col-span-full lg:h-dvh lg:col-span-2">
            <div @click.away="open = false" class="flex min-w-max h-auto lg:h-dvh flex-col text-gray-700 lg:rounded-r-[40px] bg-white flex-shrink-0" x-data="{ open: false }">
                <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
                    <div class="flex justify-center gap-2 items-center">
                        <img src="/image/brand_icon.svg" class="w-14 h-14 lg:w-[40px] lg:h-[40px]">
                        <h1 class="text-mobile-h3 text-dark lg:text-destop-h3 font-Custom">Bidding</h1>
                    </div>
                <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
                </div>
                <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="#">Dashboard</a>
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="#">Products</a>
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="/admin/product">Add Product</a>
                <a class="text-mobile-p text-dark font-Custom block px-4 py-2 mt-2 rounded-desktop-form hover:text-gray-900 focus:text-gray-900 hover:bg-asset-1-light focus:bg-asset-1-light focus:outline-none focus:shadow-outline lg:text-destop-p" href="#">Product Request</a>
                <div @click.away="open = false" class="relative" x-data="{ open: false }">
                    <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                    <span>Dropdown</span>
                    <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg">
                    <div class="px-2 py-2 bg-white rounded-md shadow">
                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #1</a>
                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #2</a>
                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #3</a>
                    </div>
                    </div>
                </div>
                </nav>
            </div>
        </aside>
        

        <section class="col-span-full lg:col-span-10 px-4 lg:px-8 overflow-y-auto">
            <!-- heading -->
            <div>
                <h1 class="text-dark text-mobile-h1 font-Custom lg:text-destop-h1">Dashboard</h1>
                <h3 class="text-dark-light text-mobile-h4 font-Custom lg:text-destop-h4">Hi,Praveen. Welcome back !</h3>
            </div>

            <!-- section-1 -->
             <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-3 lg:mt-5">
                <div class="flex items-center justify-between bg-white min-w-full py-[10px] px-[10px] rounded-[14px] min-h-[115px] lg:w-[250px] lg:h-[160px] lg:py-[20px] lg:px-[15px]">
                    <div class="flex flex-col">
                        <h1 class="text-dark-light text-mobile-p font-Custom g:text-destop-h3">Total User</h1>
                        <h3 class="text-dark text-mobile-h3 font-Custom lg:text-destop-h2">
                            <%- dashboard_data.userCount %>
                        </h3>
                    </div>
                    <img src="/image/user.svg" alt="user" class="self-start w-[40px] h-[40px] lg:w-[60px] lg:h-[60px]">
                </div>

                <div class="flex items-center justify-between bg-white min-w-full py-[10px] px-[10px] rounded-[14px] min-h-[115px] lg:w-[250px] lg:h-[160px] lg:py-[20px] lg:px-[15px]">
                    <div class="flex flex-col">
                        <h1 class="text-dark-light text-mobile-p font-Custom g:text-destop-h3">Active Auction</h1>
                        <h3 class="text-dark text-mobile-h3 font-Custom lg:text-destop-h2">
                            <%- dashboard_data.activeAuction %>
                        </h3>
                    </div>
                    <img src="/image/auction_icon.svg" alt="user" class="self-start w-[40px] h-[40px] lg:w-[60px] lg:h-[60px]">
                </div>

                <div class="flex items-center justify-between bg-white min-w-full py-[10px] px-[10px] rounded-[14px] min-h-[115px] lg:w-[250px] lg:h-[160px] lg:py-[20px] lg:px-[15px]">
                    <div class="flex flex-col">
                        <h1 class="text-dark-light text-mobile-p font-Custom g:text-destop-h3">Total Revenue</h1>
                        <h3 class="text-dark text-mobile-h3 font-Custom lg:text-destop-h2">
                            <%- dashboard_data.total_revenve %>
                        </h3>
                    </div>
                    <img src="/image/revenue_icon.svg" alt="user" class="self-start w-[40px] h-[40px] lg:w-[60px] lg:h-[60px]">
                </div>

                <div class="flex items-center justify-between bg-white min-w-full py-[10px] px-[10px] rounded-[14px] min-h-[115px] lg:w-[250px] lg:h-[160px] lg:py-[20px] lg:px-[15px]">
                    <div class="flex flex-col">
                        <h1 class="text-dark-light text-mobile-p font-Custom g:text-destop-h3">Pending Request</h1>
                        <h3 class="text-dark text-mobile-h3 font-Custom lg:text-destop-h2">
                            <%- dashboard_data.pending_request %>
                        </h3>
                    </div>
                    <img src="/image/user.svg" alt="user" class="self-start w-[40px] h-[40px] lg:w-[60px] lg:h-[60px]">
                </div>
                
             </div>

            <section class="mt-3 lg:mt-5">
                <h1 class="text-mobile-h3 text-dark font-Custom lg:text-destop-h3">Product Details</h1>
                
                <div class="overflow-x-auto">
                    <table class="overflow-auto min-w-full table-fixed border bg-white border-gray rounded-lg border-separate" style="border-spacing: 0;">
                      <thead class="text-center text-mobile-h4 lg:text-destop-h4 font-Custom">
                        <tr class="h-14">
                          <th class="w-96  px-4 py-2 border-r border-b border-dark-grey text-dark font-bold">
                            Auction Title
                          </th>
                          <th class="w-96  px-4 py-2 border-r border-b border-dark-grey text-dark font-bold">
                            Start Date and Time
                          </th>
                          <th class="w-96  px-4 py-2 border-r border-b border-dark-grey text-dark font-bold">
                            Auction Price
                          </th>
                          <th class="w-96  px-4 py-2 border-b border-dark-grey text-dark font-bold" style="width: 20%;">
                            Currrent Status
                          </th>
                        </tr>
                      </thead>
                      <tbody class="text-center text-mobile-p lg:text-destop-p font-Custom">
                            <% for( let i = 0; i < tableData.length; i++ ) { %>
                                <tr class="h-14">
                                     <td class="px-4 py-2 border-r border-dark-grey"><%= tableData[i].title %></td>
                                     <td class="px-4 py-2 border-r border-dark-grey"><%= tableData[i].start_time %></td>
                                     <td class="px-4 py-2 border-r border-dark-grey">₹<%= tableData[i].starting_bid %></td>
                                    <% if (tableData[i].status == "active") { %>
                                        <td class="px-4 py-2 border-dark-grey flex justify-center">
                                            <p class="bg-success-green rounded-desktop-form py-1 px-5 max-w-fit text-success-green-dark font-bold">Active</p>
                                        </td>
                                    <% } %>
                                    <% if (tableData[i].status == "completed") { %>
                                        <td class="px-4 py-2 border-dark-grey flex justify-center">
                                            <p class="bg-danger-red rounded-desktop-form py-1 px-5 max-w-fit text-danger-red-dark font-bold">Completed</p>
                                        </td>
                                    <% } %>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
                  </div>
            </section>


        </section>
    </main>







</body>
</html>